---
interface Props {
	id: number
	title: string
	company: string
	url?: string
	projects: Array<{
		id: number
		text: string
	}>
	tags: Array<{ id: number; text: string }>
	date: { start: string; end: string }
}
import Link from './Link.astro'
import Tag from './Tag.astro'

const { id, title, company, url, projects, tags, date } = Astro.props
---

<div class="card__inner">
	{id && <p class="card__number">0{id}</p>}
	<div>
		<div class="card__top-container">
			<h3 set:html={title} class="card__title"></h3>
			<span class="card__dates"
				><time>{date.start}</time> - <time>{date.end}</time></span
			>
		</div>
		<div style="display: flex; gap: 1rem;">
			<span class="card__subtitle" style="display: inline-block;">
				{company === 'Freelance' ? 'as' : 'at'}</span
			>
			{
				url ? (
					<Link
						href={url}
						title={company}
						class="card__link"
						isExternalLink
						class="card__subtitle"
					>
						<h4 class="card__subtitle">{company}</h4>
					</Link>
				) : (
					<h4 class="card__subtitle">{company}</h4>
				)
			}
		</div>
	</div>
	<ul class="card__projects-list">
		{projects.map((project) => <li class="card__list-item">{project.text}</li>)}
	</ul>
	<ul class="card__list minimal-list">
		{
			tags.map((tag) => (
				<li class="minimal-list">
					<Tag text={tag.text} />
				</li>
			))
		}
	</ul>
</div>

<style lang="scss">
	.card {
		&__inner {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			@include tablet {
				gap: 2rem;
			}
		}

		&__number {
			margin: 0;
			font-size: 1.5rem;
			font-family: $font-body-italic;
		}

		&__top-container {
			@include desktop {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				gap: 1rem;
			}
		}

		&__title,
		&__text {
			margin: 0;
			font-weight: 400;
		}

		&__title {
			min-width: 0;
			overflow-wrap: break-word;
			font-family: $font-title;
			font-size: 6vw;
			color: $color-pink-dark;

			@include tablet {
				font-size: 2.5rem;
			}

			@include desktop {
				font-size: 4rem;
			}
		}

		&__subtitle {
			margin: 0rem 0 2rem 0;
			font-weight: 400;
		}

		&__dates,
		&__subtitle {
			font-size: 1.25rem;

			@include tablet {
				font-size: 1.5rem;
			}

			@include desktop {
				font-size: 2rem;
			}
		}

		&__projects-list {
			@include desktop {
				max-width: 70%;
			}
		}

		&__list {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 1rem;

			@include desktop {
				gap: 3rem;
			}

			&.minimal-list {
				margin-top: 1rem;

				@include desktop {
					margin-top: 2rem;
				}
			}
		}

		&__list-item:not(:last-of-type) {
			margin-bottom: 1rem;

			@include desktop {
				margin-bottom: 2rem;
			}
		}
	}
</style>
