---
import Section from '@components/BaseSection.astro'
import Wrapper from '@components/BaseWrapper.astro'
import Card from '@components/Card.astro'
import { projects } from '@data/projects.json'
---

<Section id="projects" class="projects">
	<Wrapper>
		<ul>
			{
				projects.map( ({id,title,text,tags,links}) => (
					<li>
						<Card
							id={id}
							title={title}
							text={text}
							tags={tags}
							links={links}
						></Card>
					</li>
				))
			}
		</ul>
	</Wrapper>
</Section>

<style lang="scss">
	ul :first-child {
		border-top: 1px solid $color-dark;
	}
</style>
